<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restriccion">

    <select id="readAll" resultType="pojo.Restriccion">
        SELECT
            *
        FROM
            Restriccion
    </select>

    <select id="readById" parameterType="int" resultType="pojo.Restriccion">
        SELECT
            *
        FROM
            Restriccion
        WHERE id = #{id}
    </select>

    <select id="readByNombre" parameterType="String" resultType="pojo.Restriccion">
        SELECT
            *
        FROM
            Restriccion
        WHERE nombre = #{nombre}
    </select>

    <insert id="create" parameterType="pojo.Restriccion">
        INSERT INTO
        Restriccion (
            nombre,
            descripcion
        )
        VALUES
        (
            #{nombre},
            #{descripcion}
        )
    </insert>

    <update id="update" parameterType="pojo.Restriccion">
        UPDATE Restriccion SET 
            nombre = #{nombre},
            descripcion = #{descripcion}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE 
        FROM Restriccion
        WHERE id = #{id}   
    </delete>

</mapper>