<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">

    <select id="readAll" resultType="pojo.Sucursal">
        SELECT
            *
        FROM
            Sucursal
    </select>

    <select id="readByEncargadoId" parameterType="int" resultType="pojo.Sucursal">
        SELECT
            *
        FROM
            Sucursal
        WHERE encargadoId = #{encargadoId}
    </select>

    <select id="readById" parameterType="int" resultType="pojo.Sucursal">
        SELECT
            *
        FROM
            Sucursal
        WHERE id = #{id}
    </select>

    <select id="readByNombre" parameterType="String" resultType="pojo.Sucursal">
        SELECT
            *
        FROM
            Sucursal
        WHERE nombre = #{nombre}
    </select>
    
    <insert id="create" parameterType="pojo.Sucursal" >
        INSERT INTO Sucursal (nombre, direccion, codigoPostal, colonia, ciudad, telefono, latitud, longitud, empresaId, encargadoId) VALUES (
        #{nombre},
        #{direccion},
        #{codigoPostal},
        #{colonia},
        #{ciudad},
        #{telefono},
        #{latitud},
        #{longitud},
        #{empresaId},
        #{encargadoId}
        )
    </insert>
    
    <update id="update" parameterType="pojo.Sucursal" >
        UPDATE Sucursal SET 
            nombre = #{nombre},
            direccion = #{direccion},
            codigoPostal = #{codigoPostal},
            colonia = #{colonia},
            ciudad = #{ciudad},
            telefono = #{telefono},
            latitud = #{latitud},
            longitud = #{longitud},
            empresaId = #{empresaId},
            encargadoId = #{encargadoId}
        WHERE id = #{id}   
    </update>
    
    <update id="delete" parameterType="int" >
        UPDATE Sucursal SET 
            estatus = false
        WHERE id = #{id}   
    </update>

</mapper>